.round-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  height: auto;
}

.round-block img {
  padding: 5%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  max-height: 720px;
  width: 100%;
}

.info {
  display: block;
  width: 100%;
  text-align: center;
}

.answers {
  padding: 10%;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

button {
  height: 90%;
  width: 90%;
  border: 0px;
  color: white;
  background-color: #04ba71;
}

.next-btn {
  width: 40%;
}