html,
body {
    height: 100%;
}

h1 {
    text-align: center;
}

.start-btn{
    display: flex;
    align-content: space-around;
    justify-content: center;
    font-size: 30px;
}

button {
    border: 0px;
    color: white;
    background-color: #04ba71;
}